
@use "vars" as v;


/*  common SCSS */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

}
p, li {
  color: v.$text-color;
  font: 14px "Open Sans";
  
}
.container {
  padding-top: 4rem;
 padding-bottom: 4rem;
}
.pills {
  background-color: v.$orandjh-light;
  color: v.$primary-oranj;
  font-size: 10px;
  border-radius: 20px;
  padding: 0.5em 2em;
  display: inline-block;
  
}
.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 0.8em 1.5em;
  background-color: v.$primary-color;
  color: v.$primary-light-color;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid v.$primary-color;

  

}.btn--lightBtn{
  // paveldejimas is btn calases
  @extend .btn;
 background-color: transparent; // Permatoma spalva
    color: v.$primary-color;
}
.icon{
  color:v.$primary-color;
}