@use "vars" as v; 
@use "common" ; 



@media screen and (min-width: 768px) {

  .hedear {
    align-items: center;
    padding-right: 1.8rem;
  }
  .main_nav .fa {
  display: none;
}
 .nav_list {
  
  display: flex;
  align-items: center;
 
 } 

.main_nav .nav__linc {
  font-size: 0.8rem;
  padding-right: 10px;
  // text-align: center;
  position: relative;
}
.main_nav li:hover {
  color: black;
}
.btn--heder {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  background-color: v.$primary-color;
  color: white;
  border-radius: 17px;
  
}
.btn--heder:hover {
  background-color: #e8e7e7;
  color: v.$primary-oranj;
} 
//  Sub menu  Start

.drop__ul {
  display: none;
  position: absolute;    
}
// .drop__li {
//   position: relative;
// }
.drop__li:hover .drop__ul {
  position: relative;
  display: block;
}
//  Sub menu  End


//  Header end

.tmonilaGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.footerContainer {
 width: 768px;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  grid-template-columns: auto 100px 120px auto;
}
.card__footer p {
  padding-right: 0;
}
.card__footer2 {
  padding-left: 0;
}
}
@media screen and (min-width: 1024px) {

.blockH {
  display: grid;
  gap: 2px;
  grid-template-columns: auto 60%;
}
.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.abautGrid {
  display: grid;
  gap: 3px;
  grid-template-columns: auto 40%;
}
.servicesGrid {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
}