@use "vars" as v; 
@use "common" ; 



@media screen and (min-width: 768px) {

  .hedear {
    align-items: center;
    padding-right: 1.8rem;
  }
 .nav_list {
  
  display: flex;
  align-items: center;
 
 } 
.main_nav .fa {
  display: none;
}
.main_nav li {
  font-size: 0.8rem;
  padding-right: 10px;
  // text-align: center;
}
.btn--heder {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  background-color: v.$primary-color;
  color: white;
  border-radius: 17px;
  
}
.drop__ul {
  display: none;
}
.drop__li :hover {
  &__ul li {
    display: block;
  }
}
.tmonilaGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.footerContainer {
 width: 100%;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  grid-template-columns: auto 100px 120px auto;
}
.card__footer p {
  padding-right: 0;
}
.card__footer2 {
  padding-left: 0;
}
}