

$primary-color: #081158;
$primary-light-color: #fff;
$primary-oranj: #FBB244;
$orandjh-light: transparentize($primary-oranj, 0.6);//  :rgba(251, 178, 68, 0.2);
$text-color: rgba(0, 0, 0, 0.5); //$color: transparentize(black, 0.5);
